helpers/mutual_dictionary.json
helpers/mutual_dictionary.json.csv
helpers/mutual_dictionary_new.json
helpers/mutual_dictionary_new.json.csv
helpers/strings.xml
helpers/strings.xml.csv
helpers/arrays.xml
helpers/arrays.xml.csv
helpers/apktool_*.jar
helpers/uber-apk-signer-*.jar
helpers/new-*.csv
debug.keystore
*-decompiled*
*.apk
