helpers/mutual_dictionary.json
helpers/mutual_dictionary.json.csv
helpers/mutual_dictionary_new.json
helpers/mutual_dictionary_new.json.csv
helpers/strings.xml
helpers/strings.xml.csv
helpers/arrays.xml
helpers/arrays.xml.csv
helpers/apktool_2.4.1.jar
helpers/uber-apk-signer-1.1.0.jar
helpers/new-*.csv
debug.keystore
*-decompiled*
*.apk
